*{
    margin: 0;
    padding:0 ;
    font-family: sans-serif;
}
.container{
    width: 900px;
    margin: 100px auto;
    border:0;
    outline: 0;

}
.top{
    width: 900px;
    height: 170px;
    background: #0abde3;
    padding: 45px 55px;
    box-sizing: border-box;
    
}
.top p{
    font-size: 30px;
    color: white;
    
}
.content{
    width: 900px;
    height: 250px;
    background: rgba(0, 0, 0,0.04);
    display: flex;
    justify-content: space-between;
    padding: 0 55px;
    box-sizing: border-box;
}
.fal{
    font-size: 30px;
    color: #badc58;
    margin-top: 15px;
}
.box{
    background: white;
    border:0;
    outline: 0;
    height: 230px;
    width: 245px;
    position: relative;
    top:-30px;
    padding:20px 15px;
    box-sizing: border-box;
    
}
.box h3{
    margin-top: 16px;
    font-size: 16px;
}
.box p{
    color: rgba(0, 0, 0, 0.2);
    font-weight: 550;
    margin-top: 15px;
    font-size: 14px;
    
}


