*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 630px;
    width: 935px;
    
    margin: 50px auto;
    display: flex;
   
}
.content-left{
    position: relative;
    
}


.content-right{
    width: 380px;
    height: 600px;
    padding-top: 20px;
    
}
.form{
    width: 300px;
    
    margin: 0 auto;
}
.top{
    border:1px solid #bdc3c7;
    border-radius: 4px;
    padding: 15px 0 20px 0;
    margin-top: 15px;
}
.logo{
    margin-top: 15px;
    text-align: center;
}
.logo img{
    height: 51px;
}
input[type="text"]{
    font-size: 15px;
}
.text{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}
.text1{
    margin: 20px 0 10px 0;
}
.form button{
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 5px 0 5px 0;
    background: #b2dffc;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 4px;
}
.box {
    text-align: center;
    position: relative;
    font-size: 16px;
    color: #bdc3c7;
    font-weight: 600;
}
.box::before{
    content: '';
    width: 120px;
    height: 1px;
    background: #bdc3c7;
    position: absolute;
    left: 0;
    bottom: 10px;
}
.box::after{
    content: '';
    width: 118px;
    height: 1px;
    background: #bdc3c7;
    position: absolute;
    right: 0;
    bottom: 10px;
}
.Face{
    margin-top: 20px;
    text-align: center;
    color: #385185;
}
.Face i{
    font-size: 22px
}
.Face span{
    margin-left: 5px;
    font-weight: 600;
    font-size: 18px;
}
.a{
    margin-top: 20px;
    text-align: center;
}
.a a{
    text-decoration: none;
    font-size: 16px;
    color: #63678d;
}
.bottom{
    text-align: center;
    border-radius: 4px;
    border:1px solid #bdc3c7;
    padding:15px 0 15px 0;
    margin-top: 10px;
}
.bottom a{
    color: #0095f6;
    text-decoration: none;
    font-weight: 600;
}
.get{
    text-align: center;
    margin: 20px 0 20px 0;
}
.footer{
    text-align: center;
    margin-top: 5px;
}
.footer img{
    width: 135px;
    height: 40px;
    
}

.screen {
    height: 430px;
    width: 242px;
    position: absolute;
    right: 62px;
    top: 98px;
  
    background-size: cover;
    animation-name: bg;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes bg {
    100% ,0%{
      background: url(./img/anh1.jpg);
      
    }
    25% {
      background: url(./img/anh2.jpg);
      
    }
    50% {
      background: url(./img/anh3.jpg);
     
    }
    75% {
      background: url(./img/anh4.jpg);
      
    }
    
  }